

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BaslangicLayout.cshtml";
}
<!DOCTYPE HTML>
<html>

    
<body>
    

    <div class="content">
        <div class="wrap">
            <div class="about">
                <h3>Hakkımda</h3>
                <img src="~/web/images/about_banner.jpg" alt="" />
                <p>Lorem ipsum dolor um</p>
            </div>
        </div>
    </div>

</body>
</html>


